<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Headlines and Weather Conditions</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css')}}"
    />
  </head>
  <body>
    <h1>Headlines</h1>
    {% for article in articles %}
    <b>{{article.title}}</b>
    <i>{{article.published}}</i>
    <p><a href="{{article.link}}">Link</a></p>
    <hr />
    {% endfor %}
  </body>
</html>
